body {
  margin: 20px;
  background-color: #f2f6fc;
  color: #69707a;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.nav {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

.nav-link {
  text-decoration: none;
  color: #69707a;
  padding: 10px 20px;
  margin-right: 10px;
  border-bottom: 3px solid transparent;
  font-size: 0.875rem;
}

.nav-link.active {
  color: #0061f2;
  border-bottom-color: #0061f2;
}

.divider {
  border: none;
  border-top: 1px solid #e5e5e5;
  margin: 20px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.col {
  flex: 1;
  width: 45rem;
}

.profile-picture {
  max-width: 100%;
}

.profile-card, .details-card {
  background: #fff;
  border-radius: 0.35rem;
  box-shadow: 0 0.15rem 1.75rem rgba(33, 40, 50, 0.15);
}

.card-header {
  background-color: rgba(33, 40, 50, 0.03);
  border-bottom: 1px solid rgba(33, 40, 50, 0.125);
  padding: 1rem 1.35rem;
  font-weight: 500;
}

.card-body {
  margin-left: 2rem;
  padding: 1rem 1.35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big_input{
  width: 90%;
  padding: 10px;
  border-radius: 0.35rem;
  border: 1px solid #c5ccd6;
  font-size: 0.875rem;
}

.profile-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.help-text {
  font-size: 0.875rem;
  color: #69707a;
  margin: 10px 0;
}

.upload-btn, .save-btn {
  background-color: #0061f2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.875rem;
}

.edit-btn {
  background-color: #ff9800;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.875rem;
}

.edit-btn:hover {
  background-color: #e68900;
}

.upload-btn:hover, .save-btn:hover {
  background-color: #004bb5;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.875rem;
}

.form-control {
  width: 80%;
  padding: 10px;
  border-radius: 0.35rem;
  border: 1px solid #c5ccd6;
  font-size: 0.875rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.col {
  flex: 1;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  
  .profile-image {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 576px) {
  
  .col {
    width: 100%;
  }

  .profile-image {
    width: 60px;
    height: 60px;
  }

  .big_input, .form-control {
    width: 100%;
  }

  .upload-btn, .save-btn, .edit-btn {
    width: 60%;
    font-size: 0.875rem;
    padding: 8px 10px;
    margin: 4px;
  }

  .card-body {
    margin-left: 0;
    padding: 1rem;
  }
}

